<% provide(:title, 'All Restrooms') %> 

<h1> All Restrooms </h1> 

<%= will_paginate %> 

<ul id="search_results">
  <% @restrooms.each do |r| %>
	<li>
	  <div class="restroom_name">
		<%= link_to r.name, restroom_path(r) %> 
	  </div>
	  <div class="restroom_info">
		<%= r.line1 %>  
		<%= r.city %>, 
		<%= r.state%>, 
		<%= r.zip %> 
	  </div>
	</li> 
  <% end %>
</ul>

<%= will_paginate %> 