<% provide(:title, @restroom.name) %> 
<h2> <%= @restroom.name %> </h2>
<p><%= @restroom.line1 %> <br /> 
<%= @restroom.city %>, <%= @restroom.state%> , <%= @restroom.zip %> </p> 

<p>Reviews, Rating, Maps...</p>

