<%= provide(:title, 'All Users') %>

<h1> All Users </h1> 

<%= will_paginate %> 

<% @users.each do |u| %> 
	<li>
	  <div class="restroom_name">
		<%= link_to u.name, user_path(u) %> 
	  </div>
	  <div class="restroom_info">
		<%= u.email %>  
	  </div>
	</li> 
  <% end %>
</ul>
<%= will_paginate %> 